<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles/dashboard.css"> <!-- Add your CSS file path -->
</head>
<body>
    <header>
        <h1>Welcome to the Dashboard</h1>
        <a href="/logout">Logout</a>
    </header>
    <main>
      
        <section class="dashboard-content">
            <!-- Your dashboard content goes here -->

            <a href="/api/crud/students"><button> Student List</button></a>
            <a href="/api/crud/new"><button> Add new Student</button></a>
        </section>
    </main>
    <footer>
        &copy; 2023 
    </footer>
</body>
</html>
