<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <a href="/api/users/login"><button> Login with file session store</button></a>
    <a href="/api/user/loginred"><button> Login with file redis session store</button></a>
    <a href="/api/jwt/login"><button> Login with JWT</button></a>
</body>
</html>
